{% extends "base_generic.html" %}
{% load i18n %}

{% block tag-cloud %}
	<div class="tag-cloud mini-tag-cloud">
		
	</div>
	
{% endblock %}

{% block title %} Social Media Lab {% endblock %}

{% block main %}
	<script type="text/javascript">
		{% if filters %}
			var permafilters = ["{{ filters|join:"\",\"" }}"];
		{% endif %}
	</script> 
	<div class="tweet-results">
		<div class="tweets"></div>
		<div class="more-tweets">Meer tweets tonen</div>
	</div>
{% endblock %}
 
{% block scripts %} 
	
{% endblock %}