{% extends "base_generic.html" %}
{% load i18n %}

{% block tag-cloud %}
	{% if keywordcloud.items %}
		{% for item in keywordcloud.items %}
			<p class="cloud-element" style="font-size: {{ item.font_size }}px !important }">{{ item.keyword }}</p>
		{% endfor %}
	{% else %}
		<p>{% trans "No tweets indexed yet" %}</p>
	{% endif %}
{% endblock %}

{% block title %} Social Media Lab {% endblock %}

{% block main %} 
	<div class="tweets">
	</div>
{% endblock %}
 
{% block scripts %} 
	<script type="text/javascript">
		$(function(){
			var tweetList = $(".tweets").TweetList([1,2,'131406226507567105']);
		})
	</script>
{% endblock %}