{% load i18n %}
{% load url from future %}

<!doctype html> <!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
	<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{% block title %}Social Media Lab{% endblock %}</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="/site_media/css/blueprint/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="/site_media/css/blueprint/print.css" type="text/css" media="print">
		<link rel="stylesheet" href="/site_media/css/style.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="/site_media/css/tweets.css" type="text/css" media="screen, projection">
		<!--[if lt IE 8]>
		<link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
		<![endif]-->
		<script src="/site_media/js/libs/modernizr-2.0.6.min.js"></script>
	</head>
	<body>
		
		<div class="container">
			<header class="span-24">
				{% block header %}<h1>Social Media Lab</h1>{% endblock %}
			</header>
			<section class="span-18 main">
				{% block searchbar %}
				<form id="keyword-search-form" method="get" action="/twitter/search">
					<input type="text" name="q" placeholder="{% trans 'Search for tweets' %}" 
					{% if search_string %}
						value="{{ search_string }}" 
					{% endif %}
					/>
					<input type="submit" value="{% trans 'Search' %}" />		
				</form>
 				{% endblock %}
 
				{% block main %}The center column{% endblock %}
			</section>
			<aside class="span-6 last">
				{% block sidebar %}
					<section id="region-name">
						{% block region-name %}
							<h1>Nederland</h1>
						{% endblock %}
					</section>
					<section id="tag-cloud">
						<h1 class="title">Tag cloud</h1>
						{% block tag-cloud %}
						{% endblock %}
					</section>
					<section id="moodgraph">
						<h1 class="title">Mood graph</h1>
						{% block moodgraph %}
							<img src="/site_media/img/dummy/graph.png"/>
						{% endblock %}
					</section>
				{% endblock %}
				<footer class="span-24">
				{% block footer %}
				<p>Powered by <a href="http://www.twitter.com">twitter.com</a></p>
				<p>&copy; Hanzehogeschool Groningen</p>
				{% endblock %}
				</footer>
			</aside>
			
		</div>
		{% csrf_token %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="/site_media/js/libs/jquery-1.6.2.min.js"><\/script>')</script>
		<script id="tweetTemplate" type="text/x-jquery-tmpl">
    		<div class="tweet" data-tweet-id="${id}">
    			${text}
    		</div>
		</script>
		<!-- scripts concatenated and minified via ant build script-->
		
		<script src="/site_media/js/libs/jquery.jsonrpc.js"></script>
		<script src="/site_media/js/libs/jquery.tmpl.js"></script>
		<script src="/site_media/js/tweets.js"></script>
		
		<script src="/site_media/js/plugins.js"></script>
		<script src="/site_media/js/script.js"></script>
		<!-- end scripts-->
		<!--[if lt IE 7 ]>
		<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
		<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
		<![endif]-->
		{% block scripts %}{% endblock %}
	</body>
</html>