body
{
	background-color: #ddd;
}

header
{
	height: 150px;
	background-image: url("../img/some_logo_trans.png");
}

footer
{
	margin-top: 10%;
	height: 20px;
}

aside section
{
	background-color: #00adef;
	border: 1px solid #009fdc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: 7px;
    -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#keyword-search-form input
{
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	border-radius: 10px;
    -moz-box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.1);
}

#keyword-search-form input:hover,
#keyword-search-form input[type=text]:focus
{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}

#searchbar
{
	height: 30px;
	width: 550px;
	display: inline;
	padding-left: 15px;
	font-size: 1.3em;
	color: #aaa;
	border: 1px solid #ccc;
}

#searchbutton
{
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	margin-left: 5px;
	width: 100px;
	height: 34px;
	border: 1px solid #009FDC;
	background: #00ADEF;
	font-size: 1.5em;
	color: white;
}

aside section p
{
	margin: 0px;
	padding: 0px 0 5px 5px;
	color: white;
}

aside section .title
{
	padding: 5px 0 5px 5px;
}

aside section h1.title
{
	font-weight: bold;
	font-size: 1.5em;
	color: white;
	border-bottom: 1px dotted white;
}

aside section#region-name h1
{
	color: white;
	margin: 0px;
	text-align: center; 
}

.cloud-element
{
	color: white;
	text-decoration: none;
}

.cloud-element:hover
{
	color: #fcf387;
	text-decoration: underline;
}

.container
{
    background-color: #eee;         
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;         
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
    padding: 40px;
	margin-top: 5%;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	bottom: 0px;
}

.twitter-logo
{
	float:right;
	position: relative;
	top: -50px;
	width:200px;
	height: 200px;
}