body
{
	background-image: url("../img/bg_pattern_blue.png");
	background-repeat: repeat;
}

.container
{
/*    background-color: #eee;         */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;         
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
    padding: 40px;
	margin-top: 5%;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	bottom: 0px;
	background: #eee; /* Old browsers */
}

.oldcontainer
{
	background: -moz-linear-gradient(left,  #eeeeee 0%, #eeeeee 72%, #f7f7f7 72%, #f7f7f7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#eeeeee), color-stop(72%,#eeeeee), color-stop(72%,#f7f7f7), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #eeeeee 0%,#eeeeee 72%,#f7f7f7 72%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #eeeeee 0%,#eeeeee 72%,#f7f7f7 72%,#f7f7f7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #eeeeee 0%,#eeeeee 72%,#f7f7f7 72%,#f7f7f7 100%); /* IE10+ */
	background: linear-gradient(left,  #eeeeee 0%,#eeeeee 72%,#f7f7f7 72%,#f7f7f7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#f7f7f7',GradientType=1 ); /* IE6-9 */
}

#logo
{
	background-image: url("../img/some_logo_trans.png");
	background-repeat : no-repeat;
	width: 450px;
	height: 100px;
}

footer
{
	margin-top: 10%;
	height: 20px;
}

#keyword-search-form input
{
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	border-radius: 10px;
    -moz-box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.1);
}

#keyword-search-form input:hover,
#keyword-search-form input[type=text]:focus
{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}

#searchbar
{
	height: 30px;
	width: 550px;
	padding-left: 15px;
	font-size: 1.3em;
	color: #aaa;
	border: 1px solid #ccc;
}

#searchbutton
{
	width: 100px;
	height: 34px;
	margin-left: 5px;
	border: 1px solid #b75e00;
	background: #ef7b00;
	font-size: 1.5em;
	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/*aside section
{
	background-color: #00adef;
	border: 1px solid #009fdc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: 7px;
    -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}*/

aside section
{
	background-color: #f7f7f7;
	border: 1px solid #ccc;
    margin-top: 7px;
    -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

aside section p
{
	margin: 0px;
	padding: 0px 0 5px 5px;
}

aside section p,
aside section h1
{
	color: #222;
}

aside section h1
{
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

aside section h1.title
{
    -moz-box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.1);
	background: #ddd;
	padding: 5px 0 5px 15px;
	font-size: 1.5em;
	border-bottom: 1px solid #ccc;
}

#current-region
{
	font-size: 2em;
	font-weight: bold;
	margin: 0px;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.cloud-element
{
/*	color: white;*/
	text-decoration: none;
}

.cloud-element:hover
{
	color: #ef7b00;
	text-decoration: underline;
}