.tweet {
	padding: 10px 20px;
	font-size: 15px;
	position: relative;
	height: 72px;
	border-bottom: dotted 1px #ccc;
}
.tweet.loading{
	display:none;
	
}
.tweet>div{
	float:left;
	
}
.tweet .tweet-content{
	margin-left: 8px;	
	overflow:hidden;
	max-width:88%;
}

.tweet.error{
	background-color: red;
	color: #000;
}

.tweet .tweet-footer{
	font-size: 9px;
}

.main .tweet:nth-child(even)
{
	background-color: #f2f2f2;
}

.main .tweet:nth-child(odd)
{
	background-color: #e8e8e8;
}
.tag-cloud{
	text-align:center;
	word-wrap: break-word;	
	padding: 8px;
}
.tag-cloud a{
	padding: 4px;

}
.crumble-path li{
	display: inline;
	
}

