.tweet {
	padding: 10px 20px;
	font-size: 15px;
	position: relative;
	border-bottom: dotted 1px #ccc;
}
section#tag-cloud{
	display:none;
}

.search-result-status{
	display: none;
	margin: 10px;
}

.tweet.loading{
	display:none;
}

.tweet>div
{
	padding-left: 10px;
}

.tweet .tweet-image {
	float:left;
	padding-left: 0px;
}
.tweet .tweet-content{
	margin-left: 8px;	
	overflow:hidden;
	width:88%;
}

.tweet.error{
	background-color: red;
	color: #000;
}

.tweet .tweet-footer{
	padding-top: 3px;
	font-size: 9px;
}

.tweet .tweet-location{
	float: right;
}

.main .tweet:nth-child(even)
{
	background-color: #f2f2f2;
}

.main .tweet:nth-child(odd)
{
	background-color: #e8e8e8;
}
.tag-cloud{
	text-align:center;
	padding: 8px;
}
.tag-cloud a{
	padding: 4px;

}
.crumble-path li{
	display: inline;
	
}
.crumble-path ul{
	margin-bottom: 0.5em;
	
}
.crumble-path a{
	color: #06c;
	font-weight: bold;
	text-decoration: none;
	font-size: 1.25em;
}
.crumble-path a:hover{
	text-decoration: underline;
}

